VITE_SUPABASE_URL=https://sijjbaqfvufejjptwagf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpampiYXFmdnVmZWpqcHR3YWdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3ODcyNTAsImV4cCI6MjA4NzM2MzI1MH0.0xo8Q0djhCEvNjcnsmAJ2LOcG1jFhaERHc36afBSOdE

